.create{
  color: #555;
  max-width: 480px;
  margin: -20px auto;
}

.create label span{
  display: block;
  margin: 30px 0 10px;
}


.imgInput{
  display: none;
}

.create p {
  margin-top: 10px;
  font-size: 0.8em;
}

.create button{
  display: block;
  width: 120px;
  font-size: 1em;
  color: #fff;
  padding: 8px 20px;
  border: 0;
  border-radius: 4px;
  background-color: #58249c;
  cursor: pointer;
  text-decoration: none;
  margin: 20px auto;
  opacity: 0.9;
}

.create button:hover{
  opacity: 1;
}

.ingredients .btn{
  padding: 5px;
}


.create button:focus{
  transform: scale(0.90)
}

.ingredients{
  display: flex;
  align-items: center;
}

.ingredients button{
  margin: 0 0 0 10px
}

@media (max-width: 480px){
  .create label span{
    font-size: 1rem;
  }
}